<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Video</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Processed Video</h1>
    <div style="text-align: center;">
        <img src="{{ url_for('video_feed_processed') }}" alt="Processed Video" width="45%">
    </div>
    <br>
    <div style="text-align: center;">
        <a href="{{ url_for('index') }}" class="cont"><button>Return to Home</button></a>
    </div>
</body>
</html>
